<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href=""><span class="glyphicon glyphicon-user"></span>Heroku Demo</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>TEAM<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Girish Guntuku</a></li>
            <li><a href="">Shivani</a></li>
            <li><a href="">Chaithanya Cherukuru</a></li>
      
            <li class="divider"></li>
           
          </ul>
      </li>
    </ul>
   
  </div>
</nav>
